
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
      <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
      <script src="https://unpkg.com/vue"></script>
    </head>
    <body>
      <script type="text/x-template" id="item-template">
        <li :class="model.displayClass" v-on:mouseover="showSummary">
          <div
            :class="{bold: isFolder}"
            @click="toggle"
            @dblclick="changeType">
            <span v-if="isFolder" :class='open ? "glyphicon glyphicon-minus":"glyphicon glyphicon-plus"'></span>
            <span v-else><img :src='micon'></span>
            {{model.name}}

          </div>
          <ul v-show="open" v-if="isFolder">
            <item
              class="item"
              v-for="model in model.children"
              :model="model" :key="model.name">
            </item>
            <!-- <li class="add" @click="addChild">+</li> -->
          </ul>
        </li>
      </script>

<div id="demo">
<ul id="demolist" v-if="dataReady">
  <item
    class="item"
    :model="treeData">
  </item>
</ul>

<div id="summary">
  <span></span>
</div>
</div>

    </body>
    <script type="text/javascript">
    // demo data
    var greendot='http://maps.google.com/mapfiles/ms/icons/green-dot.png';
    var reddot='http://maps.google.com/mapfiles/ms/icons/red-dot.png';
    var cameradot ='http://maps.google.com/mapfiles/ms/icons/blue.png';
    var gatewaydot ='http://maps.google.com/mapfiles/ms/icons/purple.png';

    function myFunction() {
      console.log("Starting retrieving config data...");

      $.getJSON("./json/resouces.json", function(data){
         greendot = data.greendot;
         reddot = data.reddot;
         cameradot =data.cameradot;
         gatewaydot=data.gatewaydot;
       },
     function(response){
       console.log("Error=>"+response);
     });

    }

// define the item component
Vue.component('item', {
template: '#item-template',
props: {
  model: Object
},
data: function () {
  return {
    open: false
  }
},
computed: {
  isFolder: function () {
    return this.model.children &&
      this.model.children.length
  },
  micon:function(){
    switch(this.model.entitytype){
      case 'gateway':
        return gatewaydot;
      case 'videonode':
        return cameradot;
      case 'sensornode':
        if(this.model.displayClass.includes('success')){
          return greendot;
        }else {
          return reddot;
        }
      default:
       return '';
    }
  }
},
methods: {
  toggle: function () {
    if (this.isFolder) {
      this.open = !this.open
    }else {
      console.log("Clicked "+this.model.name);
    }
  },
  changeType: function () {
    if (!this.isFolder) {
      Vue.set(this.model, 'children', [])
      this.addChild()
      this.open = true
    }
  },
  addChild: function () {
    this.model.children.push({
      name: 'new stuff'
    })
  },
  showSummary:function() {
    console.log("hover:"+this.model.title);
    $("#summary>span").text(this.model.title);
  }
}
})

// boot up the demo
var demo = new Vue({
el: '#demo',
data: function(){
  return {
    treeData: {},
    dataReady:false
  }
},
beforeCreate: function(){
  var self=this;
  $.getJSON("./json/stubdata.json", function(data){
    console.log(data);
     $.extend(true,self.treeData,data);
    console.log(self.treeData);
    self.dataReady=true;
  });
}
})
</script>
<style>
.item {
  cursor: pointer;
}
.bold {
  font-weight: bold;
}
ul {
  padding-left: 0px;
  line-height: 1.5em;
  list-style: none;
}
li {
  padding-top:4px;
  padding-bottom:4px;
}
li span {
  width: 30px;
  text-align:center;
}
li.level0 {
    font-size: 28px;
    padding-left 5px;
}
li.level1{
      padding-left 15px;
    font-size: 24px;
    font-weight: bold;
    margin:5px 0px;
}
li.level2 {
    padding-left 25px;
    font-size: 20px;
    font-weight:400;
    margin:1px 0px;
}
</style>
</html>
