<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="css/bootstrap-theme.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <!-- skin -->
    <!-- <link rel="stylesheet" href="skin/default.css"> -->
    <title>Evigia Sensor Network</title>
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script src="js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/lodash.js"></script>
    <!-- <script src="js/util.js"></script> -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://unpkg.com/vue"></script>
 <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm34gZk1tuwBd-HzfXcDlHFj_9xGUhJWM"></script>

  </head>
<body>
  <div id="fsnapp">
  <section class="header">
    <div class="container">
      <h3>
        Evigia Flood Sensor Network</h3>
    </div>
  </section>

  <section id="main">
    <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-3 pad-right15 pad-left15 bg-grey" id="nlist">
            <!-- <h3 style="text-align:center;line-height:1.2em;margin-bottom:5px;">Area under monitoring</h3> -->
            <div v-if="dataReady">
            <ul id="demolist" >
              <item
                class="item"
                :model="treeData">
              </item>
            </ul>

            <div id="summary">
              <span></span>
            </div>
            </div>

            <div id="loader" v-else></div>
          </div>
          <div class="col-md-9 col-sm-9">
            <div id="map"></div>
          </div>
      </div>
  </section>
  <section id="banner">
      <!-- <marquee behavior="scroll" direction="left">
        <span style="color:green;">2017-06-06-13:53:00 Network up.</span>
        <span style="color:green">  2017-06-06-13:55:12 All nodes report normal operation.</span>
        <span style="color:red">  2017-06-06-15:07:03 Sensor Node #2 Flood Alert Warning!!!</span>
      </marquee> -->
    </section>
    <section class="footer">
      <div class="container" style="text-align:center;">
        Copyright&copy;2017  Evigia Systems Inc.
      </div>
    </section>
    <div class="modal" tabindex="-1" role="dialog" id="nodeoverlay">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="modal-body">
            <div class="brd-d7 mar-bot10">
              <h3 class="pad-bot20">Sensor Node </h3>
              <h4 > id: <span id="node_id">SR01</span> </h4>
            </div>
            <div id="exTab1">
              <ul class="nav nav-pills">
            		<li class="active">
                  <a  href="#1a" data-toggle="tab">Status</a>
          			</li>
            		<li >
                  <a href="#2a" data-toggle="tab">Data Plot</a>
              	</li>
            		<li>
                  <a href="#3a" data-toggle="tab">Configuration</a>
          			</li>
          		</ul>
        			<div class="tab-content clearfix">
      			    <div class="tab-pane" id="1a">
                  <div id="snprofile" style="height: 400px;width: 400px;">
                  </div>
                </div>
                <div class="tab-pane active" id="2a">
                  <div id="chart_div" style="height: 400px;width: 400px;"></div>
                	</div>
                <div class="tab-pane" id="3a">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
  <template id="item-template">
    <li :class="model.displayClass" :id="model.id" v-on:mouseover="hoverover" v-on:mouseout="hoverout">
      <div  @dblclick="changeType">
        <span v-if="isFolder" :class='open ? "glyphicon glyphicon-minus":"glyphicon glyphicon-plus"' @click="toggle"></span>
        <span v-else><img :src='micon' height="18px"></span>
        <span class='entryname' @click.stop='openoverlay'>{{model.name}}</span>
      </div>
      <ul v-show="open" v-if="isFolder">
        <item
          class="item"
          v-for="model in model.children"
          :model="model" :key="model.name">
        </item>
        <!-- <li class="add" @click="addChild">+</li> -->
      </ul>
    </li>
  </template>
  <script src="js/evgfsn.js"></script>
</html>
